<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= locals.title %></title>
  <meta name="description" content="<%= locals.description %>">
  <link rel="stylesheet" href="/css/style.css">
  <style>
    /* CSS for Header */
.header {
  background-color: #901e1e; /* Dark background color */
  color: #fff; /* Text color */
  padding: 20px; /* Padding around the header content */
  text-align: center; /* Center align header content */
  width: 100%;
  
}

.header__logo {
  color: #fff; /* Text color */
  font-size: 24px; /* Font size */
  text-decoration: none; /* Remove underline */
}

.header__nav ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
}

.header__nav ul li {
  display: inline-block; /* Display list items inline */
  margin-right: 20px; /* Add spacing between list items */
}

.header__nav ul li a {
  color: #fff; /* Text color */
  text-decoration: none; /* Remove underline */
  font-size: 18px; /* Font size */
}

.header__nav ul li a:hover {
  color: #000000; /* Text color on hover */
}

.header__button a {
  color: #100202; /* Text color */
  background-color: #eef0f3; /* Button background color */
  padding: 10px 20px; /* Button padding */
  border-radius: 5px; /* Button border radius */
  text-decoration: none; /* Remove underline */
}

.header__button a:hover {
  background-color: #0056b3; /* Button background color on hover */
}

  </style>
</head>
<body>
  
  <div class="container">
    <header class="header">
      
      <a href="/dashboard" class="header__logo">Istanbul</a>
    
      <nav class="header__nav">
        <ul>
          <li>
            <a href="/dashboard" class="">Main</a>
          </li>
          <li>
            <a href="/news" class="">Best places</a>
          </li>
          <li>
            <a href="/pop" class="">Population</a>
          </li>
        </ul>

    
      </nav>

    
      <div class="header__button">
        <a href="/logout">
          Logout
        </a>
      </div>
    
    </header>
    <main class="main">
      <%- body %>
    </main>
    <footer class="footer">
      %>Aizere Marat IT-2207 
    </footer>
  </div>  

</body>
</html>